{% extends "::layout.html.twig" %}
{% block css %}
    {{ parent() }}
{% endblock %}
{% block title %}
    Liste des personnels - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <ul id="breadcrumbs" style="float: right;">
            <li><a href="#">Personnels</a></li>
            <li><span>Afficher tous les parsonnels</span></li>
        </ul>
        <h1>Liste des personnels</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">Liste de tous les personnels</span>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <table id="dt_tableExport" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>Code</th>
                        <th>CIN</th>
                        <th>Crée le</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Addresse</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personnel in personnels %}
                        <tr>
                            <td> <a href="{{ path('personnel_show', { 'id': personnel.id }) }}"> {{ personnel.name }} </a></td>
                            <td>  {{ personnel.code }}</td>
                            <td>  {{ personnel.cin }}</td>
                            <td>  {{ personnel.creationdate|date('d/m/Y') }}</td>
                            <td>  {{ personnel.phonenumber }}</td>
                            <td>  {{ personnel.email }}</td>
                            <td>  {{ personnel.address }} </td>
                            <td>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <a data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Afficher"
                                       href="{{ path('personnel_show', {'id': personnel.id}) }}">
                                        <i class="md-icon material-icons">&#xE417;</i>
                                    </a>
                                    <a data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Modifier"
                                       href="{{ path('personnel_edit', {'id': personnel.id}) }}">
                                        <i class="md-icon material-icons">&#xE150;</i>
                                    </a>
                                    {#<a data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" href="javascript:void(0)"#}
                                      {#title="Supprimer"#}
                                       {#onclick="UIkit.modal.confirm('Voulez vous vraiment supprimer ce personnel ?',#}
                                               {#function(){ deletePersonnel({{ personnel.id }});});">#}
                                        {#<i class="md-icon material-icons">&#xE872;</i>#}
                                    {#</a>#}
                                    {% if personnel.user.enabled %}
                                        <a href="javascript:void(0)"
                                           data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Désactiver"
                                           onclick="UIkit.modal.confirm('Voulez vous vraiment désactiver cet utilisateur ?'
                                                   ,function(){ disableUser({{ personnel.user.id }});});">
                                            <i class="md-icon material-icons">&#xE897;</i>
                                        </a>
                                    {% else %}
                                        <a href="javascript:void(0)"
                                           data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Activer"
                                           onclick="UIkit.modal.confirm('Voulez vous vraiment activer cet utilisateur ?'
                                                   ,function(){ enableUser({{ personnel.user.id }});});">
                                            <i class="md-icon material-icons">&#xE898;</i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave-light" href="{{ path('personnel_new') }}" id="invoice_add"
           data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Ajouter un personnel">
            <i class="material-icons">&#xE7FE;</i>
        </a>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    {% javascripts output="js/compiled/mainIndex.js"
    'bundles/immobilier/bower_components/datatables/media/js/jquery.dataTables.min.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/dataTables.buttons.js'
    'bundles/immobilier/assets/js/custom/datatables/buttons.uikit.js'
    'bundles/immobilier/bower_components/jszip/dist/jszip.min.js'
    'bundles/immobilier/bower_components/pdfmake/build/pdfmake.min.js'
    'bundles/immobilier/bower_components/pdfmake/build/vfs_fonts.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/buttons.colVis.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/buttons.html5.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/buttons.print.js'
    'bundles/immobilier/assets/js/custom/datatables/datatables.uikit.min.js'
    'bundles/immobilier/assets/js/pages/plugins_datatables.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        function deletePersonnel(id) {
            var url = '{{ path('personnel_delete', {'id': 'iD'}) }}';
            url = url.replace('iD', id);
            $.ajax({
                url: url,
                type: 'delete',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('Le personnel a été supprimé avec succès.'
                        ).on('hide.uk.modal', function () {
                            location.reload(true);
                        });
                    }
                    else{
                        UIkit.modal.alert('Vous n\'avez pas le droit de supprimer ce personnel pour des raisons de sécurité');
                    }
                },
                error: function () {
                    UIkit.modal.alert('Vous n\'avez pas le droit de supprimer ce personnel pour des raisons de sécurité');
                }
            });
        }
        function disableUser(id) {
            var url = '{{ path('user_enable_or_disable', {'id': 'iD'}) }}';
            url = url.replace('iD', id);
            $.ajax({
                async: true,
                url: url,
                type: 'POST',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été déactivé avec succès.'
                        ).on('hide.uk.modal', function () {
                            location.reload(true);
                        });
                    }
                },
                error: function () {
                    UIkit.modal.alert('Vous n\'avez pas le droit de désactiver cet utilisateur pour des raisons de sécurité');
                }
            });
        }
        function enableUser(id) {
            var url = '{{ path('user_enable_or_disable', {'id': 'iD'}) }}';
            url = url.replace('iD', id);
            $.ajax({
                async: true,
                url: url,
                type: 'POST',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été activé avec succès.'
                        ).on('hide.uk.modal', function () {
                            location.reload(true);
                        });
                    }
                },
                error: function () {
                    UIkit.modal.alert('Vous n\'avez pas le droit d\'activer cet utilisateur pour des raisons de sécurité');
                }
            });
        }
    </script>
{% endblock %}