{% extends "::layout.html.twig" %}
{% block css %}
    {{ parent() }}
{% endblock %}
{% block title %}
    Liste des reclamations - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <ul id="breadcrumbs" style="float: right;">
            <li><a href="#">Reclamations</a></li>
            <li><span>Afficher tous les reclamations</span></li>
        </ul>
        <h1>Liste des reclmamations</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">Liste de tous les reclamations</span>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <table id="dt_tableExport" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th width="5%">Code</th>
                        <th width="25%">Titre</th>
                        {#<th width="40%">Description</th>#}
                        <th width="10%">Date de creation</th>
                        <th width="10%">Date mise a jour</th>
                        <th width="5%">Traité</th>
                        <th width="5%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reclamation in reclamations %}
                        <tr>
                            <td>
                                <a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.code }}</a>
                            </td>
                            <td>{{ reclamation.title }}</td>
                            {#<td>{{ shrink(reclamation.description, 90) }}</td>#}
                            <td>{% if reclamation.dateCreation %}{{ reclamation.dateCreation|date('d/m/Y H:i:s') }}{% endif %}</td>
                            <td>{% if reclamation.dateUpdate %}{{ reclamation.dateUpdate|date('d/m/Y H:i:s') }}{% endif %}</td>
                            <td>{% if reclamation.open %}<span class="uk-badge uk-badge-danger">En cours</span>{% else %}
                                    <span class="uk-badge uk-badge-success">Fermée</span>{% endif %}</td>
                            <td>
                                {#{% if app.user.id == reclamation.user.id and reclamation.open %}#}
                                {#<a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}"><i class="material-icons">&#xE22B;</i></a>#}
                                {#<a href="javascript:void(0)" onclick="deleteIssue('{{ reclamation.id }}')"><i class="material-icons">&#xE92B;</i></a>#}
                                {#{% endif %}#}
                                {% if reclamation.open %}
                                    <a data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Modifier"
                                       href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}">
                                        <i class="md-icon material-icons">&#xE150;</i>
                                    </a>
                                {% endif %}
                                <a data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Supprimer"
                                   href="javascript:void(0)" onclick="deleteIssue('{{ reclamation.id }}')">
                                    <i class="md-icon material-icons">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave-light" href="{{ path('reclamation_new') }}" id="reclamation_add"
           data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Ajouter une reclamation">
            <i class="material-icons">feedback</i>
        </a>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    {% javascripts output="js/compiled/mainIndex.js"
    'bundles/immobilier/bower_components/datatables/media/js/jquery.dataTables.min.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/dataTables.buttons.js'
    'bundles/immobilier/assets/js/custom/datatables/buttons.uikit.js'
    'bundles/immobilier/bower_components/jszip/dist/jszip.min.js'
    'bundles/immobilier/bower_components/pdfmake/build/pdfmake.min.js'
    'bundles/immobilier/bower_components/pdfmake/build/vfs_fonts.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/buttons.colVis.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/buttons.html5.js'
    'bundles/immobilier/bower_components/datatables-buttons/js/buttons.print.js'
    'bundles/immobilier/assets/js/custom/datatables/datatables.uikit.min.js'
    'bundles/immobilier/assets/js/pages/plugins_datatables.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        function deleteIssue(id) {
            UIkit.modal.confirm(
                'Voulez vous vraiment supprimer cette reclamation ?',
                function () {
                    var url = "{{ path('reclamation_delete', {'id': 'id_issue'}) }}";
                    url = url.replace('id_issue', id);
                    window.location.href = url;
                },
                {labels: {'Ok': 'Oui', 'Cancel': 'Non'}}
            );
        }
    </script>
{% endblock %}