{% extends "::layout.html.twig" %}
{% block css %}
    {{ parent() }}
    {% stylesheets output="css/compiled/mainWithDropify.css" filter="cssrewrite"
    'bundles/immobilier/assets/skins/dropify/css/dropify.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block title %}
    Ajouter un contrat - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <ul id="breadcrumbs" style="float: right;">
            <li><a href="#">Contrats</a></li>
            <li><span>Ajouter un contrat</span></li>
        </ul>
        <h1>Formulaire d'ajout du contrat</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">veuillez bien remplir les champs</span>
    </div>
    {{ include("BienBundle:Contrat:form.html.twig") }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        altair_forms.parsley_validation_config();
    </script>
    {% javascripts output="js/compiled/mainWithDropifyMaskAndWysiwyg.js"
    'bundles/immobilier/assets/js/custom/dropify/dist/js/dropify.min.js'
    'bundles/immobilier/assets/js/kendoui_custom.min.js'
    'bundles/immobilier/assets/js/pages/forms_file_input.min.js'
    'bundles/immobilier/bower_components/parsleyjs/dist/parsley.min.js'
    'bundles/immobilier/assets/js/pages/forms_validation.min.js'
    'bundles/immobilier/jQuery-Mask-Plugin/js/jquery.mask.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}