{% extends '::layout.html.twig' %}


{% block css %}
    {{ parent() }}
    {% stylesheets output="css/compiled/mainWithDropify.css" filter="cssrewrite"
    'bundles/immobilier/assets/skins/dropify/css/dropify.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}
    Modifier un client - {{ parent() }}
{% endblock %}

{% block body %}

    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <ul id="breadcrumbs" style="float: right;">
            <li><a href="#">Clients</a></li>
            <li><span>Modifier un client</span></li>
        </ul>
        <h1>Formulaire de modification du client</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">veuillez bien remplir les champs</span>
    </div>

    <div id="page_content_inner">
        {{ form_start(edit_form, {'attr':{ 'data-parsley-validate':'', 'style':'width:100%', 'class': 'uk-form-stacked', 'id':'form_validation' }}) }}
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Cin (recto-verso)
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>


                            <div class="uk-width-medium-1-2">
                                {{ form_widget(edit_form.cinRecto.file, {'attr': {'class': ''  }}) }}
                                <span> {{ form_errors(edit_form.cinRecto.file) }} </span>
                                {{ form_widget(edit_form.cinRecto.description, {'attr': {'class': ''  }}) }}
                            </div>
                            <div class="uk-width-medium-1-2">
                                {{ form_widget(edit_form.cinVerso.file, {'attr': {'class': ''  }}) }}
                                <span> {{ form_errors(edit_form.cinRecto.file) }} </span>
                                {{ form_widget(edit_form.cinVerso.description, {'attr': {'class': ''  }}) }}
                            </div>





                        </div>

                    </div>
                </div>


                <div class="md-card">

                    <div class="md-card-content">
                        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                            <div class="uk-form-row parsley-row">
                                Nom :
                                <label for="product_edit_manufacturer_control" id="label_nom">
                                {{ client.denomination }}
                                </label>
                                <br>
                                Prénom :
                                <label for="product_edit_manufacturer_control" id="label_prenom">
                                    {{ client.prenom }}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="md-card">

                    <div class="md-card-content">
                        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>


                            <div class="uk-form-row parsley-row">
                                Portable :
                                <label for="product_edit_manufacturer_control" id="tel_label">
                                    {{ client.tel }}
                                </label>

                            </div>




                        </div>

                    </div>
                </div>
                <div class="md-card">

                    <div class="md-card-content">
                        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>


                            <div class="uk-form-row parsley-row">
                                Email :

                                <label for="product_edit_manufacturer_control" id="mail_label">
                                    {{ client.website }}
                                </label>
                                {#<input type="text" class="md-input" id="product_edit_manufacturer_control" name="product_edit_manufacturer_control" value="Samsung"/>#}

                            </div>





                        </div>

                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Préférences
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                            <div class="uk-width-1-2">
                                <label id="Lundi" style="{% if client.preferences.lundi %}color: green{% else %} color : red{% endif %}">Lundi</label><br>

                                <label id="Mercredi" style="{% if client.preferences.mercredi %}color: green{% else %} color : red{% endif %}">Mercredi</label><br>

                                <label id="Vendredi" style="{% if client.preferences.vendredi %}color: green{% else %} color : red{% endif %}">Vendredi</label><br>

                                <label id="Dimanche" style="{% if client.preferences.dimanche %}color: green{% else %} color : red{% endif %}">Dimanche</label><br>
                            </div>
                            <div class="uk-width-1-2">
                                <label id="Mardi" style="{% if client.preferences.mardi %}color: green{% else %} color : red{% endif %}">Mardi</label><br>
                                <label id="Jeudi" style="{% if client.preferences.jeudi %}color: green{% else %} color : red{% endif %}">Jeudi</label><br>
                                <label id="Samedi" style="{% if client.preferences.samedi %}color: green{% else %} color : red{% endif %}">Samedi</label><br>
                            </div>
                            <div class="uk-width-1-2">
                                De :
                                <br>
                                A :
                            </div>
                            <div class="uk-width-1-2">
                                <label id="de_label"></label>
                                <br>
                                <label id="a_label"></label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="uk-width-xLarge-8-10  uk-width-large-8-10">
                <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#tabs', animation:'slide-horizontal'}">
                    <li><a href="#">Détails</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Historique</a></li>
                    {#<li><a href="#">Rendez-vous</a></li>#}
                </ul>
                <ul id="tabs" class="uk-switcher uk-margin">
                    <li>
                        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>

                            <!--==================================================-->
                            <div class="uk-width-xLarge-10-10  uk-width-large-10-10">
                                <div class="md-card">
                                    <div class="md-card-toolbar">
                                        <h3 class="md-card-toolbar-heading-text">
                                            Détails
                                        </h3>
                                    </div>
                                    <div class="md-card-content">
                                        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                                            <div class="uk-width-large-1-2">

                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Prenom</label></span>
                                                        {{ form_widget(edit_form.prenom)  }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Nom</label></span>
                                                        {{ form_widget(edit_form.denomination)  }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>CIN/RC</label></span>
                                                        {{ form_widget(edit_form.identifier,{'attr': {'class': 'md-input'}}) }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Date de naissance</label></span>
                                                        {{ form_widget(edit_form.naissance) }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Lieu</label></span>
                                                        {{ form_widget(edit_form.birthplace) }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Nationalité</label></span>
                                                        {{ form_widget(edit_form.nationalite) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-width-large-1-2">
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Sexe</label></span>
                                                        {{ form_widget(edit_form.sexe) }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Situation familiale</label></span>
                                                        {{ form_widget(edit_form.familySituation) }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Niveau d'études</label></span>
                                                        {{ form_widget(edit_form.etude) }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Travail</label></span>
                                                        {{ form_widget(edit_form.travail) }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"><label>Domaine</label></span>
                                                        {{ form_widget(edit_form.domaine) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="uk-width-large-1-2">
                                                <div class="md-card-toolbar">
                                                    <h3 class="md-card-toolbar-heading-text">
                                                        Contact
                                                    </h3>
                                                </div>
                                                <div class="md-card-content">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Portable favoris</label></span>
                                                            {{ form_widget(edit_form.tel) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Portable 1</label></span>
                                                            {{ form_widget(edit_form.secondtel) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Portable 2</label></span>
                                                            {{ form_widget(edit_form.thirdtel) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Tél bureau</label></span>
                                                            {{ form_widget(edit_form.telbureau) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid uk-form-row">
                                                        <div class="uk-width-large-1-3">
                                                        </div>
                                                    </div>

                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Fax</label></span>
                                                            {{ form_widget(edit_form.fax) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Email</label></span>
                                                            {{ form_widget(edit_form.website) }}
                                                        </div>
                                                    </div>


                                                    <div style="margin-top:30%;">
                                                        <label>Préférences de contact</label>
                                                        <div class="uk-form-row parsley-row" style="margin-top: 5%">
                                                            {{ form_widget(edit_form.preferences.lundi) }}
                                                            Lundi
                                                            {{ form_widget(edit_form.preferences.mardi) }}
                                                            Mardi
                                                            {{ form_widget(edit_form.preferences.mercredi) }}
                                                            Mercredi





                                                            {#</div>#}
                                                            {#<div class="uk-form-row parsley-row">#}
                                                            {{ form_widget(edit_form.preferences.jeudi) }}
                                                            jeudi
                                                            {{ form_widget(edit_form.preferences.vendredi) }}
                                                            vendredi
                                                            {{ form_widget(edit_form.preferences.samedi) }}
                                                            samedi
                                                            {#</div>#}
                                                            {#<div class="uk-form-row parsley-row">#}
                                                            {{ form_widget(edit_form.preferences.dimanche) }}
                                                            dimanche
                                                        </div>
                                                        <div class="uk-grid uk-form-row">
                                                            <div class="uk-width-1-2">
                                                                De :
                                                                {{ form_widget(edit_form.preferences.heure) }}
                                                            </div>
                                                            <div class="uk-width-1-2">
                                                                A :
                                                                {{ form_widget(edit_form.preferences.heureFin) }}
                                                            </div>
                                                        </div>
                                                        <div class="uk-form-row parsley-row">

                                                            Notes de contact :
                                                            {{ form_widget(edit_form.preferences.note) }}
                                                        </div>
                                                    </div>
                                                    {#<hr class="uk-grid-divider">#}

                                                </div>
                                            </div>
                                            <div class="uk-width-large-1-2">
                                                <div class="md-card-toolbar">
                                                    <h3 class="md-card-toolbar-heading-text">
                                                        Adresse
                                                    </h3>
                                                </div>
                                                <div class="md-card-content">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Adresse</label></span>
                                                            {{ form_widget(edit_form.mainAddress.address) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Code postale</label></span>
                                                            {{ form_widget(edit_form.mainAddress.zipCode) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Ville</label></span>
                                                            {{ form_widget(edit_form.mainAddress.city) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"><label>Gouvernorate</label></span>
                                                            {{ form_widget(edit_form.mainAddress.governorate) }}
                                                        </div>
                                                    </div>
                                                    <div class="uk-form-row" style="margin-top: 53%">
                                                        <label for="product_edit_sn_control">Origine</label>
                                                        {#<input type="text" class="md-input" id="product_edit_sn_control" name="product_edit_sn_control" value="SM-G925TZKFTMB"/>#}
                                                        {{ form_widget(edit_form.origine) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="uk-form-row">
                                    <label for="product_edit_description_control">Autre détails</label>
                                    {#<textarea class="md-input" name="product_edit_description_control" id="product_edit_description_control" cols="30" rows="4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam necessitatibus suscipit velit voluptatibus! Ab accusamus ad adipisci alias aliquid at atque consectetur, dicta dignissimos, distinctio dolores esse fugiat iste laborum libero magni maiores maxime modi nemo neque, nesciunt nisi nulla optio placeat quas quia quibusdam quis saepe sit ullam!</textarea>#}
                                    {{ form_widget(edit_form.moreInformations) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>

                        <div class="uk-grid uk-grid-divider">
                            <div class="uk-width-large-1-2" style="padding-bottom: 20px;">
                                <div class="md-card">
                                    <div class="md-card-toolbar">
                                        <h3 class="md-card-toolbar-heading-text">
                                            Requetes
                                        </h3>
                                    </div>
                                    <div class="md-card-content large-padding">
                                        {% if client.requetes|length >0 %}
                                            <table id="tachestable" class="uk-table uk-table-hover" cellspacing="0"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Référence</th>
                                                    <th>Nature</th>
                                                    <th>Type de bien</th>
                                                    <th>Budget</th>
                                                    <th>Création</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr>
                                                    {% for requete in client.requetes %}
                                                        <td>
                                                            <a href="{{ path('requete_show' , {'id' : requete.id}) }}">
                                                                {{ requete.reference }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {{ requete.natureRequete }}
                                                        </td>
                                                        <td>
                                                        {%  for type in requete.typeBiens %}

                                                                {{ type.name }} <br>

                                                        {% endfor %}
                                                        </td>

                                                        <td>
                                                            {{ requete.budgetMin }}
                                                        </td>
                                                        <td>

                                                            {{ requete.creationDate|date('d-m-Y') }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                                </tbody>
                                            </table>

                                        {% else %}
                                            <div style="text-align: center">
                                                <span class="uk-badge uk-badge-danger">Aucune requete </span>

                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-large-1-2" style="padding-bottom: 20px">
                                <div class="md-card">
                                    <div class="md-card-toolbar">
                                        <h3 class="md-card-toolbar-heading-text">
                                            Propriétés
                                        </h3>
                                    </div>
                                    <div class="md-card-content large-padding">
                                        {% if client.requetes|length >0 %}
                                            <table id="tachestable" class="uk-table uk-table-hover" cellspacing="0"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Titre</th>
                                                    <th>Nature</th>
                                                    <th>Date de création</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr>
                                                    {% for bien in client.biens %}
                                                        <td>
                                                            <a href="{{ path('bien_show' , {'id' : bien.bien.id}) }}">
                                                                {{ bien.bien.title }}
                                                            </a>
                                                        </td>
                                                        <td>{{ bien.bien.nature }}</td>
                                                        <td>

                                                            {{ bien.bien.updatedAt|date('d-m-Y') }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                                </tbody>
                                            </table>

                                        {% else %}
                                            <div style="text-align: center">
                                                <span class="uk-badge uk-badge-danger">Aucune propriètè </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>


                            <div class="uk-width-large-1-2">
                                <div class="md-card">
                                    <div class="md-card-toolbar">
                                        <h3 class="md-card-toolbar-heading-text">
                                            Bien proposés
                                        </h3>
                                    </div>
                                    <div class="md-card-content large-padding">
                                        {% if client.requetes|length >0 %}
                                            <table id="tachestable" class="uk-table uk-table-hover" cellspacing="0"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Date création</th>
                                                    <th>Requete</th>
                                                    <th>Bien proposé</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr>

                                                    {% for requete in client.requetes %}
                                                        {% for proposition in requete.proposals %}
                                                            <td>{{ proposition.creationdate|date('d-m-Y') }}</td>
                                                            <td>
                                                                <a href="{{ path('requete_show' , {'id' : requete.id}) }}">
                                                                    {{ requete.reference }}
                                                                </a>
                                                            </td>
                                                            <td>

                                                                <a href="{{ path('bien_show' , {'id' : proposition.mandat.acquisition.bien.id}) }}">
                                                                    {{ proposition.mandat.acquisition.bien.title }}
                                                                </a>
                                                            </td>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tr>
                                                </tbody>
                                            </table>

                                        {% else %}
                                            <div style="text-align: center">
                                                <span class="uk-badge uk-badge-danger">Aucune proposition </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-large-1-2">
                                <div class="md-card">
                                    <div class="md-card-toolbar">
                                        <h3 class="md-card-toolbar-heading-text">
                                            Activités marketing
                                        </h3>
                                    </div>
                                    <div class="md-card-content large-padding">
                                        <div style="text-align: center">
                                            <span class="uk-badge uk-badge-danger">En cours de construction ..</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </li>
                    <li>


                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    Requetes
                                </h3>
                            </div>
                            <div class="md-card-content large-padding">
                                <table id="tachestable" class="uk-table uk-table-hover" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Temps</th>
                                        <th>Action</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for history in histories %}
                                        <tr>
                                            <td>{{ history.creationDate|date('d-m-Y') }}</td>
                                            <td>{{ history.creationDate|date('H:m') }}</td>
                                            <td>{{ history.description }} </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="md-fab-wrapper">
        <button class="md-fab md-fab-accent md-fab-wave-light" href="#" id="invoice_add"
                data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Enregistrer">
            <i class="material-icons">&#xE161;</i>
        </button>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}

    <script>
        // load parsley config (altair_admin_common.js)
        altair_forms.parsley_validation_config();
    </script>

    {% javascripts output="js/compiled/mainSimpleValidation.js"
    'bundles/immobilier/assets/js/kendoui_custom.min.js'
    'bundles/immobilier/bower_components/parsleyjs/dist/parsley.min.js'
    'bundles/immobilier/assets/js/pages/forms_validation.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('js/compiled/mainWithDropify_dropify.min_1.js') }}"></script>
    <script>
        var cin_recto= $('#sbc_tiersbundle_client_cinRecto_file');
        var cin_verso = $('#sbc_tiersbundle_client_cinVerso_file');
        $('#sbc_tiersbundle_client_cinRecto_description').css('width' , '-webkit-fill-available');
        $('#sbc_tiersbundle_client_cinVerso_description').css('width' , '-webkit-fill-available');
        $(function ($) {

            $('.dropify-clear').on('click', function () {
                cin_recto.prop('required', false);
                cin_verso.prop('required', false);
            });
            cin_verso.dropify({
                defaultFile: '{{ vich_uploader_asset(client.cinVerso, 'file') }}',
                messages: {
                    'default': 'Cliquez ici',
                    'replace': 'Cliquez ici',
                    'remove': 'Supprimer',
                    'error': 'Une erreur s\'est survenue'
                }
            });
            cin_recto.dropify({
                defaultFile: '{{ vich_uploader_asset(client.cinRecto, 'file') }}',
                messages: {
                    'default': 'Cliquez ici',
                    'replace': 'Cliquez ici ',
                    'remove': 'Supprimer',
                    'error': 'Une erreur s\'est survenue'
                }
            });
            $('.dropify-wrapper').css('height' , '60%');
        });
        (function () {
            /**add address and contact functions**/
            var addressDOM = $('.address-block');
            var contactDOM = $('.contact-block');
            var _countAddress = addressDOM.children().length;
            var _countContact = contactDOM.children().length;

            $('#addAddress').on('click', function (e) {
//                var addressForm = addressDOM.attr('data-prototype');
                var addressForm = addressBlock();
                addressForm = addressForm.replace(/__name__/g, _countAddress);
                addressDOM.append(addressForm);
                _countAddress++;
                altair_md.init();
                altair_forms.init();
            });

            $('#addContact').on('click', function (e) {
//                var contactForm = contactDOM.attr('data-prototype');
                var contactForm = contactBlock();
                contactForm = contactForm.replace(/__name__/g, _countContact);
                contactDOM.append(contactForm);
                _countContact++;
                altair_md.init();
            });
        })();

        function addressBlock() {
            block = '<div class="uk-width-medium-1-3 block-form">' +
                '<div class="uk-form-row parsley-row">' +
                '<label for="product_editnufacturer_control">Titre</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[addresses][__name__][title]" required/>' +
                '</div>' +
                '<div class="uk-form-row parsley-row">' +
                '<label for="product_edit_manufacturer_control">Adresse</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[addresses][__name__][address]" required/>' +
                '</div>' +
                '<div class="uk-form-row">' +
                '<label for="product_edit_manufacturer_control">Cité</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[addresses][__name__][city]"/>' +
                '</div>' +
                '<div class="uk-form-row">' +
                '<label for="product_edit_manufacturer_control">Governorat</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[addresses][__name__][governorate]"/>' +
                '</div>' +
                '<div class="uk-form-row">' +
                '<label for="product_edit_manufacturer_control">Code postal</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[addresses][__name__][zipCode]"/>' +
                '</div>' +
                '<br>' +
                '<div class="uk-width-medium-1-6">' +
                '<a class="md-btn md-btn-danger md-btn-wave-light" href="javascript:void(0)" onclick="deleteBlock(this)">Supprimer</a>' +
                '</div>' +
                '</div>';

            return block;
        }

        function contactBlock() {
            block = '<div class="uk-width-medium-1-3 block-form">' +
                '<div class="uk-form-row parsley-row">' +
                '<label for="product_editnufacturer_control">Dénomination</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[contacts][__name__][denomination]" required/>' +
                '</div>' +
                '<div class="uk-form-row">' +
                '<label for="product_edit_manufacturer_control">Description</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[contacts][__name__][description]"/>' +
                '</div>' +
                '<div class="uk-form-row">' +
                '<label for="product_edit_manufacturer_control">Adresse mail</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[contacts][__name__][mail]"/>' +
                '</div>' +
                '<div class="uk-form-row parsley-row">' +
                '<label for="product_edit_manufacturer_control">Téléphone</label>' +
                '<input type="text" class="md-input" name="sbc_tiersbundle_client[contacts][__name__][tel]" required/>' +
                '</div>' +
                '<br>' +
                '<div class="uk-width-medium-1-6">' +
                '<a class="md-btn md-btn-danger md-btn-wave-light" href="javascript:void(0)" onclick="deleteBlock(this)">Supprimer</a>' +
                '</div>' +
                '</div>';

            return block;
        }

        function deleteBlock(btn) {
            $(btn).closest('.block-form').remove();
        }
        $("#sbc_tiersbundle_client_preferences_lundi").on('ifChanged', function(){
            if ($(this).closest('div').hasClass('checked'))
            {
                $('#Lundi').css('color' , 'red');
            }
            else
            {
                $('#Lundi').css('color' , 'green');
            }
        });
        $("#sbc_tiersbundle_client_preferences_mardi").on('ifChanged', function(){
            if ($(this).closest('div').hasClass('checked'))
            {
                $('#Mardi').css('color' , 'red');
            }
            else
            {
                $('#Mardi').css('color' , 'green');
            }
        });
        $("#sbc_tiersbundle_client_preferences_mercredi").on('ifChanged', function(){
            if ($(this).closest('div').hasClass('checked'))
            {
                $('#Mercredi').css('color' , 'red');
            }
            else
            {
                $('#Mercredi').css('color' , 'green');
            }
        });
        $("#sbc_tiersbundle_client_preferences_jeudi").on('ifChanged', function(){
            if ($(this).closest('div').hasClass('checked'))
            {
                $('#Jeudi').css('color' , 'red');
            }
            else
            {
                $('#Jeudi').css('color' , 'green');
            }
        });
        $("#sbc_tiersbundle_client_preferences_vendredi").on('ifChanged', function(){
            if ($(this).closest('div').hasClass('checked'))
            {
                $('#Vendredi').css('color' , 'red');
            }
            else
            {
                $('#Vendredi').css('color' , 'green');
            }
        });
        $("#sbc_tiersbundle_client_preferences_samedi").on('ifChanged', function(){
            if ($(this).closest('div').hasClass('checked'))
            {
                $('#samedi').css('color' , 'red');
            }
            else
            {
                $('#Samedi').css('color' , 'green');
            }
        });
        $("#sbc_tiersbundle_client_preferences_dimanche").on('ifChanged', function(){
            if ($(this).closest('div').hasClass('checked'))
            {
                $('#Dimanche').css('color' , 'red');
            }
            else
            {
                $('#Dimanche').css('color' , 'green');
            }
        });

        function fill_labels() {

            $('#label_prenom').html($('#sbc_tiersbundle_client_prenom').val());
            $('#label_nom').html($('#sbc_tiersbundle_client_denomination').val());
            $('#tel_label').html($('#sbc_tiersbundle_client_tel').val());
            $('#mail_label').html($('#sbc_tiersbundle_client_website').val());
        }
        $('#sbc_tiersbundle_client_preferences_heure_minute').on('change',function () {
            var minute = $('#sbc_tiersbundle_client_preferences_heure_minute  option:selected').text();
            var heure = $('#sbc_tiersbundle_client_preferences_heure_hour  option:selected').text();
            $('#de_label').text(heure+":"+minute);
        });
        $('#sbc_tiersbundle_client_preferences_heure_hour').on('change',function () {
            var minute = $('#sbc_tiersbundle_client_preferences_heure_minute  option:selected').text();
            var heure = $('#sbc_tiersbundle_client_preferences_heure_hour  option:selected').text();
            $('#de_label').text(heure+":"+minute);
        });
        $('#sbc_tiersbundle_client_preferences_heureFin_minute').on('change',function () {
            var minute = $('#sbc_tiersbundle_client_preferences_heureFin_minute  option:selected').text();
            var heure = $('#sbc_tiersbundle_client_preferences_heureFin_hour  option:selected').text();
            $('#de_label').text(heure+":"+minute);
        });

        $('#sbc_tiersbundle_client_preferences_heureFin_hour').on('change',function () {
            var minute = $('#sbc_tiersbundle_client_preferences_heureFin_minute  option:selected').text();
            var heure = $('#sbc_tiersbundle_client_preferences_heureFin_hour  option:selected').text();
            $('#a_label').text(heure+":"+minute);
        })
    </script>
{% endblock %}
