{% extends "::layout.html.twig" %}
{% block title %}
    Lecture d'un utilisateur - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <ul id="breadcrumbs" style="float: right;">
            <li><a href="#">Utilisateurs</a></li>
            <li><span>Afficher un utilisateur</span></li>
        </ul>
        <h1>{{ user.personnel.name }}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">{{ user.roles.0 }}</span>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_avatar">
                            <div class="thumbnail">
                                <img src="{{ vich_uploader_asset(user.personnel, 'pictureFile') }}"
                                     alt="{{ user.personnel.pictureName }}"/>
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">
                                    {{ user.personnel.name }}
                                </span>
                                <span class="sub-heading">
                                    {{ user.roles.0 }}
                                </span>
                            </h2>
                            <ul class="user_stats">
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfRequetes }}
                                        <span class="sub-heading">Requêtes</span>
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfRecherches }}
                                        <span class="sub-heading">Recherches</span>
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfNouvelles }}
                                        <span class="sub-heading">Nouvelles</span>
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfAcquisitions }}
                                        <span class="sub-heading">Acquisitions</span>
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfMandatsVente }}
                                        <span class="sub-heading">Mandats vente</span>
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfMandatsLocation }}
                                        <span class="sub-heading">Mandats location</span>
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfTransactionsVente }}
                                        <span class="sub-heading">Transactions vente</span>
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">
                                        {{ numberOfTransactionsLocation }}
                                        <span class="sub-heading">Transactions location</span>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab"
                            data-uk-tab="{connect:'#user_profile_tabs_content'}">
                            <li class="uk-active"><a href="#">A propos</a></li>
                            <li><a href="#">Tâches</a></li>
                            <li><a href="#">Accès</a></li>
                            <li><a href="#">Actions</a></li>
                            <li><a href="#">Rendez-vous</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Infos de l'utilisateur</h4>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE32A;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.roles.0 }}</span>
                                                    <span class="uk-text-small uk-text-muted">Rôle</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE87C;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.username }}</span>
                                                    <span class="uk-text-small uk-text-muted">Pseudo</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE572;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.lastLogin|date('d/m/Y') }}</span>
                                                    <span class="uk-text-small uk-text-muted">Dernière activité</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE925;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">
                                                        {% if user.enabled %}
                                                            Actif
                                                        {% else %}
                                                            Désactivé
                                                        {% endif %}
                                                    </span>
                                                    <span class="uk-text-small uk-text-muted">Etat</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Coordonnées</h4>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE84F;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.personnel.agency }}</span>
                                                    <span class="uk-text-small uk-text-muted">Agence</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0DA;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.personnel.code }}</span>
                                                    <span class="uk-text-small uk-text-muted">Code</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0D0;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.personnel.cin }}</span>
                                                    <span class="uk-text-small uk-text-muted">CIN</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.personnel.phonenumber }}</span>
                                                    <span class="uk-text-small uk-text-muted">Téléphone</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.personnel.email }}</span>
                                                    <span class="uk-text-small uk-text-muted">Email</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE55F;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ user.personnel.address }}</span>
                                                    <span class="uk-text-small uk-text-muted">Adresse complète</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <ul class="md-list">
                                    {% for tache in  user.personnel.taches %}
                                        {% if tache.typeTache != null %}
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">
                                                   <i class="md-icon md-24 md-list-addon-icon material-icons uk-text-{{ tache.typeTache.class }}">
                                                       {{ tache.typeTache.icon|raw }}
                                                   </i>
                                                    <a href="#" data-uk-modal="{target:'#modal-afficherTache'}"
                                                       onclick="UIkit.modal.alert( '{{ tache.description|e('js') }}') ;"
                                                       data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}">{{ tache.typeTache }}
                                                    </a>
                                                </span>
                                                    <div class="uk-margin-small-top">
                                                        {% if  tache.getEntityType() == 'TacheNouvelle' %}
                                                            <span class="uk-margin-right"><i class="material-icons">&#xE7F1;</i>
                                                                <span class="uk-text-muted uk-text-small">
                                                                    <a href="{{ path('nouvelle_show', {'id':tache.nouvelle.id }) }}">
                                                                        {{ tache.nouvelle }}
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        {% elseif  tache.getEntityType() == 'TacheAcquisition' %}
                                                            <span class="uk-margin-right"><i class="material-icons">&#xE7EE;</i>
                                                                 <span class="uk-text-muted uk-text-small">
                                                                    <a href="{{ path('acquisition_show', {'id':tache.acquisition.id }) }}">
                                                                        {{ tache.acquisition }}
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        {% elseif  tache.getEntityType() == 'TacheMandat' %}
                                                            <span class="uk-margin-right"><i class="material-icons">&#xE24D;</i>
                                                                <span class="uk-text-muted uk-text-small">
                                                                    <a href="{{ path('mandat_show', {'id':tache.mandat.id }) }}">
                                                                        {{ tache.mandat }}
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        {% elseif  tache.getEntityType() == 'TacheRequete' %}
                                                            <span class="uk-margin-right"><i class="material-icons">&#xE91F;</i>
                                                                <span class="uk-text-muted uk-text-small">
                                                                    <a href="{{ path('requete_show', {'id':tache.requete.id }) }}">
                                                                        {{ tache.requete }}
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        {% endif %}
                                                        <span class="uk-margin-right"><i
                                                                    class="material-icons">&#xE192;</i>
                                                        <span class="uk-text-muted uk-text-small">
                                                        {{ tache.creationDate|date('d-m-Y H:i') }}
                                                        </span>
                                                    </span>
                                                        {% if tache.description != null %}
                                                            <span class="uk-text-muted uk-text-small">
                                                            {{ tache.description|raw }}
                                                        </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        <div class="uk-margin-bottom uk-text-center uk-position-relative">
                                            <span class="uk-form-help-block"> Pas encore de tâches</span>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <ul class="md-list">
                                    {% for access in  user.accesses %}
                                        <li>
                                            <div class="md-list-content">
                                                <div class="uk-margin-small-top">
                                                    <i class="material-icons">&#xE192;</i>
                                                    <span class="uk-text-muted uk-text-small">
                                                        Entrée
                                                        <span class="uk-badge uk-badge-success">
                                                            {{ access.loginDate|date('d-m-Y H:i') }}
                                                        </span>
                                                    </span>
                                                </div>
                                                {% if access.logoutDate != null %}
                                                    <div class="uk-margin-small-top">
                                                        <i class="material-icons">&#xE192;</i>
                                                        <span class="uk-text-muted uk-text-small">
                                                              Sortie
                                                            <span class="uk-badge uk-badge-danger">
                                                                {{ access.logoutDate|date('d-m-Y H:i') }}
                                                            </span>
                                                        </span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <div class="uk-margin-bottom uk-text-center uk-position-relative">
                                            <span class="uk-form-help-block"> Pas encore d'accès</span>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <ul class="md-list">
                                    {% for tache in  user.personnel.taches %}
                                        {% if tache.description != null and tache.typeTache == null %}
                                            <li>
                                                <div class="md-list-content">
                                                    <div class="uk-margin-small-top">
                                                        <span class="uk-margin-right">
                                                            <i class="material-icons">&#xE192;</i>
                                                            <span class="uk-text-muted uk-text-small">
                                                                {{ tache.creationDate|date('d-m-Y H:i') }}
                                                            </span>
                                                        </span>
                                                        <span class="uk-text-muted uk-text-small">
                                                            {{ tache.description|raw }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        <div class="uk-margin-bottom uk-text-center uk-position-relative">
                                            <span class="uk-form-help-block"> Pas encore d'actions</span>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <ul class="md-list">
                                    {% for meeting in  user.personnel.meetings %}
                                        <li>
                                            <div class="md-list-content">
                                                <div class="md-list-content">
                                                    <div class="uk-margin-small-top">
                                                        <span class="uk-margin-right">
                                                            <i class="material-icons">&#xE192;</i>
                                                            <span class="uk-text-muted uk-text-small">
                                                                {{ meeting.beginDate|date('d/m/Y H:i') }}
                                                            </span>
                                                        </span>
                                                        <span class="uk-margin-right">

                                                             <i class="material-icons">&#xE192;</i>
                                                            <span class="uk-text-muted uk-text-small">
                                                                {{ meeting.finishDate|date('d/m/Y H:i') }}
                                                            </span>
                                                        </span>
                                                        <span class="uk-text-muted uk-text-small">
                                                            {{ meeting.title }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% else %}
                                        <div class="uk-margin-bottom uk-text-center uk-position-relative">
                                            <span class="uk-form-help-block"> Pas encore de rendez-vous</span>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper md-fab-speed-dial">
        <a class="md-fab md-fab-primary" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}" title="Actions">
            <i class="material-icons">&#xE55D;</i>
        </a>
        <div class="md-fab-wrapper-small">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"
                   data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Supprimer"
                   onclick="UIkit.modal.confirm('Voulez vous vraiment supprimer cet utilisateur ?',function(){ deleteUser();});">
                    <i class="material-icons">&#xE92B;</i>
                </a>
            {% endif %}
            {% if app.user != user %}
                {% if user.enabled %}
                    <a class="md-fab md-fab-small" href="javascript:void(0)"
                       data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Désactiver"
                       onclick="UIkit.modal.confirm('Voulez vous vraiment désactiver cet utilisateur ?',function(){ disableUser();});">
                        <i class="material-icons">&#xE897;</i>
                    </a>
                {% else %}
                    <a class="md-fab md-fab-small" href="javascript:void(0)"
                       data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Activer"
                       onclick="UIkit.modal.confirm('Voulez vous vraiment activer cet utilisateur ?',function(){ enableUser();});">
                        <i class="material-icons">&#xE898;</i>
                    </a>
                {% endif %}
            {% endif %}
            {% if app.user == user %}
                <a class="md-fab md-fab-small md-fab-success" href="{{ path('fos_user_profile_edit') }}"
                   data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Modifier">
                    <i class="material-icons">&#xE3C9;</i>
                </a>
            {% else %}
                <a class="md-fab md-fab-small md-fab-success" href="{{ path('user_edit', {'id': user.id}) }}"
                   data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Modifier">
                    <i class="material-icons">&#xE3C9;</i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        function deleteUser() {
            var url = '{{ path('user_delete', {'id': 'iD'}) }}';
            url = url.replace('iD', {{ user.id }});
            $.ajax({
                url: url,
                type: 'delete',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été supprimé avec succès.'
                        ).on('hide.uk.modal', function () {
                            history.back();
                        });
                    }
                    else {
                        UIkit.modal.alert('Vous n\'avez pas le droit de supprimer cet utilisateur pour des raisons de sécurité');
                    }
                },
                error: function (exception) {
                    console.log(exception.responseText);
                    UIkit.modal.alert('Vous n\'avez pas le droit de supprimer cet utilisateur pour des raisons de sécurité');
                }
            });
        }
        function disableUser() {
            var url = '{{ path('user_enable_or_disable', {'id': 'iD'}) }}';
            url = url.replace('iD', {{ user.id }});
            $.ajax({
                url: url,
                type: 'delete',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été désactivé avec succès.'
                        ).on('hide.uk.modal', function () {
                            location.reload();
                        });
                    }
                },
                error: function (exception) {
                    console.log(exception.responseText);
                    UIkit.modal.alert('Vous n\'avez pas le droit de désactiver cet utilisateur pour des raisons de sécurité');
                }
            });
        }
        function enableUser() {
            var url = '{{ path('user_enable_or_disable', {'id': 'iD'}) }}';
            url = url.replace('iD', {{ user.id }});
            $.ajax({
                url: url,
                type: 'delete',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été activé avec succès.'
                        ).on('hide.uk.modal', function () {
                            location.reload();
                        });
                    }
                },
                error: function (exception) {
                    console.log(exception.responseText);
                    UIkit.modal.alert('Vous n\'avez pas le droit d\'activer cet utilisateur pour des raisons de sécurité');
                }
            });
        }
    </script>
{% endblock %}